[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
types-click = "*"
typing-extensions = "*"
wrapt = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
types-Flask = "*"
types-Jinja2 = "*"
types-MarkupSafe = "*"
types-Werkzeug = "*"
Werkzeug = "*"
opencv-python = "*"
flask-migrate = "*"
requests = "*"

[dev-packages]
mypy = "*"
bandit = "*"
flake8 = "== 3.8.0"
black = "*"
prospector = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
