{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Data{% endblock %}</h1>
{% endblock %}
{% block content %}
<d3fc-svg use-device-pixel-ratio></d3fc-svg>
<script>
  d3.json('/data/view.json')
    .then(function (data) {
      data.forEach(element => {
        element.date = new Date(element.date);
      });
      const votesGraph = () => {
        let xScale = d3.scaleTime();
        let yScale = d3.scaleLinear();
        let crossValue = d => new Date(d.date);
        const upvotesBar = fc.autoBandwidth(fc.seriesSvgBar());
        const downvotesBar = fc.autoBandwidth(fc.seriesSvgBar());
        const multi = fc.seriesSvgMulti();

        const votes = selection => {

          upvotesBar
            .crossValue(crossValue)
            .mainValue((d, i) => d.upvotes);

          downvotesBar
            .crossValue(crossValue)
            .mainValue((d, i) => -d.downvotes);


          multi
            .xScale(xScale)
            .yScale(yScale)
            .series([upvotesBar, downvotesBar])
            .decorate((g, data, index) => {
              g.enter().attr(
                'class',
                (d, i) =>
                  'multi ' + ['upvotes', 'downvotes'][i]
              );
            });

          selection.call(multi);
        };

        votes.crossValue = (...args) => {
          if (!args.length) {
            return crossValue;
          }
          crossValue = args[0];
          return votes;
        };

        votes.xScale = (...args) => {
          if (!args.length) {
            return xScale;
          }
          xScale = args[0];
          return votes;
        };

        votes.yScale = (...args) => {
          if (!args.length) {
            return yScale;
          }
          yScale = args[0];
          return votes;
        };

        return votes;
      };

      const xScale = d3
        .scaleTime()
        .domain(fc.extentDate().accessors([d => d.date])(data));

      // the elder ray is rendered on its own scale
      const yDomain = fc
        .extentLinear()
        .accessors([d => d.upvotes, d => d.downvotes])
        .symmetricalAbout(0);

      const yScale = d3.scaleLinear().domain(yDomain(data));

      // Create the renderer
      const elderRay = votesGraph()
        .xScale(xScale)
        .yScale(yScale);

      // Add it to the container
      const container = document.querySelector('d3fc-svg');

      d3.select(container)
        .on('draw', () => {
          d3.select(container)
            .select('svg')
            .datum(data)
            .call(elderRay);
        })
        .on('measure', event => {
          const { width, height } = event.detail;
          xScale.range([0, width]);
          yScale.range([height, 0]);
        });

      container.requestRedraw();


    });
    /*
let zoom = d3.zoom().on('zoom', function (e) {
d3.select('svg g')
.attr('transform', e.transform);
});

d3.select('d3fc-svg')
.call(zoom);
*/
</script>
{% endblock %}