{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Client{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="client_name">Client Name</label>
    <input name="client_name" id="client_name" value="{{ request.form['client_name'] }}" required>
    <label for="location_id">Location</label>
    <input name="location_id" id="location_id" value="{{ request.form['location_id'] }}" required>

    <input type="submit" value="Create">
</form>
{% endblock %}